html,
body{
	font-family:'Montserrat',sans-serif; 
	line-height: 1.5em;
	margin-bottom:1em;
	color: #141414;
	-webkit-font-smoothing: antialiased;
}
.home{
	/*background-image: url(img/bg.svg);*/
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: 50%;
}
.brand{
	background-color: #BEEB9F;
}
.light{
	font-weight: 300;
}
.nowrap{
	white-space: nowrap;
}
.grid{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  /*grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));*/
  grid-auto-rows: 15rem;
  grid-gap: 1.5rem;
}
.cell{
	display: block;
	padding: 1.5rem;
	background-color: #fff;
	border-bottom: none;
}
.guide{
	background-repeat: no-repeat;
	background-position: 50% 110%;
	background-size: 100%;
	box-shadow: 0 16px 16px -16px rgba(0, 163, 136, .5);
	transition: box-shadow .25s ease,
				color .25s ease,
				background-position .25s ease;
}
.guide:hover{
	box-shadow: 0 24px 16px -16px rgba(0, 163, 136, .75);
	background-position: 50% 101%;
}
.guide-logo{
	/*background-image: url(img/guide-logo.svg);*/
}
.guide-color{
	/*background-image: url(img/guide-color.svg);*/
}
.guide-typo{
	/*background-image: url(img/guide-typo.svg);*/
}
.guide-grid{
	/*background-image: url(img/guide-grid.svg);*/
}
.guide-animation{
	/*background-image: url(img/guide-animation.svg);*/
}
.guide-icon{
	/*background-image: url(img/guide-icon.svg);*/
}
.guide-write{
	/*background-image: url(img/guide-write.svg);*/
}
.guide-patterns{
	/*background-image: url(img/guide-patterns.svg);*/
}
.guide-pictures{
	/*background-image: url(img/guide-pictures.svg);*/
}
.inactive{
	opacity: .5;
	pointer-events: none;
}

img{
	max-width: 100%;
}

p,ul{
	font-family: 'Segoe UI', Arial, sans-serif;
}

.text p,
.text ul{
	max-width: 700px;
}

.text-muted{
	/*color: #999!important;*/
}

.color{
	padding: 2rem;
}
.color.dark{
	color: white;
}
.color h6{
	font-size: 17px;
	font-weight: normal;
}
.color p{
	margin-bottom: 0;
}

.table td{
	vertical-align: middle;
}
.table-typo td h1,
.table-typo td h2,
.table-typo td h3,
.table-typo td h4,
.table-typo td h5,
.table-typo td h6,
.table-typo td p{
	margin-bottom: 0;
}

.example{
	background-color: #F3F3F3;
}

.font-body-media{
	font-size: 17px;
	line-height: 1.53em;
}
.font-body-small{
	font-size: 12px;
	line-height: 1.5em;
	/*margin-bottom: 1em;*/
}
.font-body-caps{
	font-size: 12px;
	line-height: 1.333333em;
	letter-spacing: .05em;
	font-weight: bold;
	text-transform: uppercase;
}

.color-green-text{
	color: #32B400;
}
.color-red-text{
	color: #FF5A50;
}

.card-example{
	background-color: #BEEB9F;
}
.anim-015,
.anim-025,
.anim-05,
.anim-1{
	transition: all .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	cursor: pointer;
}
.anim-015{
	transition-duration: .15s;
}
.anim-025{
	transition-duration: .25s;
}
.anim-05{
	transition-duration: .5s;
}
.anim-1{
	transition-duration: 1s;
}

.card-example.anim-015:hover,
.card-example.anim-025:hover,
.card-example.anim-05:hover,
.card-example.anim-1:hover{
	background-color: #79bd8f;
}





h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,.navbar-brand{
	font-weight: bold;
	line-height: 1.5em;
	margin-bottom: 1rem;
}
h1[id],.h1[id],h2[id],.h2[id],h3[id],.h3[id],h4[id],.h4[id],h5[id],.h5[id],h6[id],.h6[id]{
	position:relative;
}

h1,.h1{
	font-size: 40px;
	line-height: 1.2em;
}
h2,.h2{
	font-size: 30px;
	line-height: 1.2em;
}
h3,.h3{
	font-size: 24px;
	line-height: 1.1666em;
}
h4,.h4, h5,.h5, h6,.h6{
	font-size: 20px;
	line-height: 1.2em;
}

a{
	color: #141414; 
	border-bottom: 1px solid rgba(0,0,0, .5);
}
a:hover, a:focus{
	color: #00A388; 
	text-decoration:none; 
	border-color: #00A388;
}
footer{
	position: relative;
	/*opacity: .5;*/
}
footer .container:before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	/*left: 0;*/
	width: 100px;
	height: 4px;
	background-color: #BEEB9F;
}
.navbar-brand{font-weight:bold;}
.section-anchor-link{position:absolute; left:-1em; padding-right:.3em; border-bottom:0; opacity:0;}
h2:hover .section-anchor-link, h2:focus .section-anchor-link, h2:active .section-anchor-link{opacity: .35;}
h2:hover .section-anchor-link:hover, h2:hover .section-anchor-link:focus, h2:hover .section-anchor-link:active, h2:focus .section-anchor-link:hover, h2:focus .section-anchor-link:focus, h2:focus .section-anchor-link:active, h2:active .section-anchor-link:hover, h2:active .section-anchor-link:focus, h2:active .section-anchor-link:active {opacity:1; color:#00A388}
/*.section p{position:relative;}*/
img[alt=favicon] {/*position:absolute; top:.4em; left:-1.5em;*/ width:1em; height:1em; margin-right:.25rem;}
img.logo{width: 48px;}
.highlight code{
	display: inline-block;
	padding: 1rem;
	background-color: #f3f3f3;
}
















@media (min-width: 1200px) {
	.home{
		background-size: 40%;
	}
}